h1, h2, p {
    font-family: 'Sulphur Point', sans-serif;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  p {
    font-size: 1.1em;
  }
  
  #photo-template {
    display: none;
  }